@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-slab-v13-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/roboto-slab-v13-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/roboto-slab-v13-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/roboto-slab-v13-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/roboto-slab-v13-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/roboto-slab-v13-latin-regular.svg#RobotoSlab') format('svg'); /* Legacy iOS */
}
@font-face {
    font-family: 'Droid Serif Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Droid Serif Italic'), url('/fonts/DroidSerif-Italic.woff') format('woff');
}
@font-face {
    font-family: 'Wisdom Script Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Wisdom Script Regular'), url('/fonts/WisdomScriptAJ.woff') format('woff');
}

html{
    box-sizing: border-box;
}

*,
*::before, 
*::after{
    box-sizing: inherit;
}

img{
    display: block;
    min-width: 100%;
    height: auto;
}

body{
    font-family: Montserrat, sans-serif ;
    max-width: 1440px;
    margin: 0 auto;
}

/* HEADER */

.logo-link{
    text-decoration: none;
    font-family: "Wisdom Script Regular";
    font-size: 26px;
    line-height: 41px;
    color: #fed136;
}

.page-nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    padding: 0 230px;
}

.menu-list{
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 485px;
}

.menu-link{
    font-size: 14px;
    line-height: 41px;
    font-weight: 500;
    color: #222222;
    text-decoration: none;
    text-transform: uppercase;
    transition: color 0.2s ease-out;
}

.menu-link:hover{
    color: #fed136;
}


/* Section SERVICES */
.services-section{
    min-height: 575px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 230px;
}

.section-title-dark{
    font-weight: bold;
    font-size: 40px;
    line-height: 75px;
    text-transform: uppercase;
    margin: 0 auto;
    padding: 0;
}

.subtitle{
    font-family: "Droid Serif Italic", serif;
    font-size: 16px;
    line-height: 19px;
    color: #777777;
    margin: 0 auto;
    margin-bottom: 80px;
    text-align: center;
}

.services-list{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.services-item{
    position: relative;
    flex-basis: 290px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.services-title{
    font-weight: bold;
    font-size: 18px;
    line-height: 50px;
    margin: 0 ;
    color: #222;
}

.services-text{
    font-family: "Roboto Slab", serif;
    font-size: 14px;
    line-height: 21px;
    color: #777777;
    text-align: center;
    margin: 0;
}

.services-item div{
    position: relative;
}

.circle{
    display: flex;
    align-items: center;
    width: 68px;
    align-self: center;
    height: 67px;
    border: 3px solid #fed136;
    background-color: #ffffff;
    border-radius: 50%;
    margin-bottom: 28px;
    cursor: pointer;
}

.circle::before{
    display: block;
    content: '';
    background-repeat: no-repeat;
    margin: 0 auto;
}
.basket::before{
    width: 40px;
    height: 39px;
    background-image: url("/img/Icon-Basket.png");
}

.laptop::before{
    width: 41px;
    height: 34px;
    background-image: url(/img/Icon-Laptop.png);
}

.lock::before{
    width: 29px;
    height: 40px;
    background-image: url(/img/Icon-Locked.png);
}

/*Section FOrm */

.contact-section{
    padding-top: 100px;
    min-height: 677px;
    background-color: #222222;
    position: relative;
}

.section-title-light{
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
    text-transform: uppercase;
    margin-bottom: 14px;
    padding: 0;
    color:#ffffff;
    text-align: center;
}

.map{
    width: 614px;
    height: 537px;
    position: absolute;
    bottom: 0;
    right: 0;
    background-image: url(/img/MapImage.png);
    background-repeat: no-repeat;
    opacity: 0.3;
}

.contact-form{
    margin-top: 50px;
    position: relative;
    height: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 27px 230px 0;
}

input{
    width: 455px;
    height: 50px;
    border: 1px solid #cccccc;
    background-color: #fff;
    margin-bottom: 27px;
    padding-left: 20px;
    border-radius: 2px;
}

::placeholder{
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 17px;
    color: #bbbbbb;
    text-transform: uppercase;
}

textarea{
    width: 454px;
    height: 208px;
    padding:15px  20px;
    border-color: #fff;
    border: 1px solid #ccc;
    border-radius: 2px;
    resize: none;
}

.submit-button{
    width: 240px;
    height: 65px;
    border: none;
    background-color: #fed136;
    border-radius: 2px;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 22px;
    color: #fff;
    text-transform: uppercase;
    position: absolute;
    bottom: 65px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    transition: 0.2s linear;
}

.submit-button:hover{
    filter: drop-shadow( 0 0 7px #fccb45);
}

input:focus:valid{
    outline:2px solid rgb(85, 206, 48);
}

input:focus:invalid{
    outline:2px solid orangered;
}